// Override or add CSS variables for your theme here

:root {
  //--ds-header-logo-height: 80px;
  //--ds-header-logo-height-xs: 50px;
  //--ds-header-icon-color: #{$link-color};
  //--ds-header-icon-color-hover: #{darken($link-color, 15%)};
  --netta-jumbotron-bg: #{$yellow};
  --ds-breadcrumb-bg: #{$yellow} !important;
  --ds-breadcrumb-link-color: #{darken($gray-100, 15%)} !important;
  --ds-breadcrumb-link-active-color: #{darken($gray-100, 90%)} !important;
}
