<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
        <div>
        <p class="greeting">Szeretettel köszöntjük megújult oldalunkon!</p>
        <p class="home-news-text">A felhasználó tudomásul veszi, hogy repozitóriumba feltöltött művek szerzői jogilag védettek, oktatási és kutatási célt szolgálnak. Felhasználásukra a szerzői jogról szóló 1999. évi LXXVI. törvény (Szjt.) rendelkezései vonatkoznak.</p>
      </div>
    </div>
  </div>
</div>
