<h2 class="item-page-title-field">
  <div *ngIf="item.firstMetadataValue('dspace.entity.type') as type" class="d-inline">
    {{ type.toLowerCase() + '.page.titleprefix' | translate }}
  </div>
  <span class="dont-break-out">{{ dsoNameService.getName(item) }}</span>
  <div *ngFor="let md of item.allMetadataValues('dc.rights.license')">
    <a href="https://creativecommons.org/{{ md=='zero'?'publicdomain':'licenses' }}/{{ md }}/{{ md=='zero'?'1.0':'4.0' }}" target="_blank">
      <img src="assets/bme/images/cc-icons/{{ md }}.svg" />
    </a>
  </div>
</h2>
