p.more-authors-btn {
  padding-top: 10px;
}

p.more-authors-btn a {
  border: 1px solid black;
  padding: 5px;
  border-radius: 0.25rem;
  padding: 0.375rem;
}

p.more-authors-btn a:hover {
  border-color: #2b4e72;
  background-color: #2b4e72;
  color: white;
}
