@media screen and (min-width: map-get($grid-breakpoints, md)) {
    dt {
        text-align: right;
    }
}

div.pdf-viewer-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
  z-index: 1000;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

div.viewer-link a {
  cursor: pointer;
}
