@font-face {
  font-family: "Work Sans";
  src: url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900');
  font-weight: 800;
  font-style: normal;
}

#header-logo {
  /*height: var(--ds-header-logo-height);*/
  max-height: 120px;
}

header {
  background-color: var(--ds-navbar-bg);
}

span.noselect {
  position: relative;
  top: 40px;
  font-size: 2.0rem;
  font-weight: 800;
  font-family: "Work Sans", sans-serif !important;
  -webkit-user-select: none;
  user-select: none;
  color: #fff;
}
