// DSpace works with CSS variables for its own components, and has a mapping of all bootstrap Sass
// variables to CSS equivalents (see src/styles/_bootstrap_variables_mapping.scss). However Bootstrap
// still uses Sass variables internally. So if you want to override bootstrap (or other sass
// variables) you can do so here. Their CSS counterparts will include the changes you make here

//$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-sans-serif:      -apple-system, "Kanit Regular", "Kanit Medium", "Kani Bold", sans-serif;

$gray-700: #495057;  // Bootstrap $gray-700
$gray-100: #f8f9fa;  //           $gray-100

$blue:     #164194;
$newsblue: #163f92;
$green:    #008a38;
$cyan:     #85c9f0;
$yellow:   #d6a200;
$red:      #ec6730;
$dark:     darken($blue, 17%);
$lightblue:rgb(133, 201, 240);

$theme-colors: (
   primary: $yellow,
   secondary: lighten($blue, 30%),
   success: $green,
   info: $blue,
   warning: $yellow,
   danger: $red,
   light: $gray-100,
   dark: $dark
);

$link-color: map-get($theme-colors, info);
