<input id="xlsx" type="file" (change)="onFileSelected($event)" accept=".xlsx,.ods">

<div class="sheet-wrapper">
  <table class="sheet">
    <thead>
      <tr>
        <th>Mezőtípus</th>
        <th>Minta érték</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let header of data.headers; let c = index;">
        <td>
          <select>
              <option
                *ngFor="let m of data.mappings;"
                [value]="optionLabel(m)"
                [selected]="header === optionLabel(m)">
                {{ optionLabel(m) }}
              </option>
          </select>
        </td>
        <td>{{ data.rows[0].cells[c] }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
