
  div#omikk-upload-tool {
    position: absolute;
    left: 10px;
    top: 41px;
    border: 5px solid #133f5e;
    border-radius: 10px;
    width: 96vw;
    height: 100vh;
    padding: 30px;
    z-index: 999;
    background-color: rgba(255,255,255,0.9);

  }
